


/*--------------------Navigation & Search Bar------------------*/ 

.etsy-logo{
	width: 8%;
    margin-left: 5%;
    border-radius:5%;
}

#homeSearchbox{
    margin-left: 22%;
    height: 40px;
    width: 30%;
    position: absolute;
    margin-top: -13%;
    font-size: 20px;
    text-align: center;
}

.nav-icon-container{
	display:inline-block;
	margin-left:60%;
	position:absolute;
	margin-top: 3%;
/*	border-left:1px solid;
	border-right:1px solid;*/
}

.button{
	/*border-right:1px solid;*/
/*	float:left;*/
	background-color:white;
	text-decoration:none;
}

/*--------------------Category Buttons------------------*/ 

.category-button-container{
	border-top:1px solid;
	border-bottom: 1px solid;
}

#clothing-margin{
	margin-left:10%;

}

/*--------------------Hompage LISTING STYLES------------------*/ 


.listing-container{
	background-image:url(./lightpaperfibers/lightpaperfibers_@2X.png);
}
	.active-items{
		text-align:center;
	}

	.single-listing{
		border:2px solid #444;
		display:inline-block;
		width:30%;
		margin:5px;
		background-color: #F2F1EF;
		border-radius:5%;
		text-align:left;
	}

		.listing-pic{
			width:100%;
			border-top-left-radius:5%;
			border-top-right-radius:5%;
		}

		.list-title{
			width:69%;
			margin: auto;
		    /*transform: translateX(-50px);*/
		    text-overflow:ellipsis;
		    white-space: nowrap;
		    overflow:hidden;
		}
			.listing-title h2{
				/*transform: translateX(-50px);*/
				text-align: center;
				color:#444;
				font-family: 'Montserrat', sans-serif;
			}

		.list-price{
			display:inline-block;
			color:green;
			margin-right:80%;
		}

		.single-listing p{
			margin-left:inherit;
		}



/*--------------------Details LISTING STYLES------------------*/ 

.detailed-listing{
	text-align:center;
	background-image:url(./greyzz/greyzz.png);
}

#description{
    width: 70%;
    margin: auto;
    font-family: 'Roboto Slab', serif;
    text-align:left;
    text-indent:50px;
}

.detailed-listing img{
	height:400px;
	border:5px solid;
}

.detailed-listing h1{
	font-family: 'Oxygen', sans-serif;
}
